.tooltip-inner {
  background-color: #dc3545 !important;
}

.tooltip.bs-tooltip-top .tooltip-arrow::before {
  border-top-color: #dc3545;
}

.tooltip.bs-tooltip-bottom .tooltip-arrow::before {
  border-bottom-color: #dc3545;
}

.tooltip.bs-tooltip-start .tooltip-arrow::before {
  border-left-color: #dc3545;
}

.tooltip.bs-tooltip-end .tooltip-arrow::before {
  border-right-color: #dc3545;
}
