@import url(//font.elice.io/EliceDigitalBaeum.css);
html,
body {
  font-family: "Elice Digital Baeum", sans-serif;
}
.inputwidth {
  width: 100%;
}
.margin10 {
  margin: 10px;
}
.padding5 {
  padding: 30px;
}
.margin_b10 {
  margin: 0 0 10px 0;
}
.margin_tb10 {
  margin: 10px 0 10px 0;
}
.margin_r5 {
  margin: 0 5px 0 0;
}
.flex_center {
  display: flex;
  align-content: center;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
